.my-bookings {
    padding: 40px 40px 100vh 40px;
    background: #F8FAFC;
}

.bookings-sec-title {
    font-weight: 800;
    font-size: 28px;
    color: #0F172A;
}

.bookings-office-selector h2 {
    font-weight: 400;
    font-size: 14px;
    color: #0F172A;
    font-family: inherit;
}

.bookings-office-selector .office-chevron {
    font-weight: 500;
    font-size: 14px;
}

.bookings-office-selector, .bookings-calendar {
    border: 1px solid #E2E8F0;
    background: #fff;
    padding: 10px 16px;
    border-radius: 8px;
    width: fit-content;
}

.bookings-office-selector p {
    font-weight: 400;
    font-size: 14px;

}

.bookings-calendar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bookings-header-btns {
    display: flex;
    align-items: center;
    gap: 12px;
}

.bookings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-tabs li {
    padding-bottom: 12px;
    width: fit-content;
    cursor: pointer;
}

.book-tabs li:not(.selected) {
    font-weight: 500;
    font-size: 16px;
    color: #475569;
}

.book-tabs {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 0;
}

.bookings-tabs {
    margin-top: 32px;
    border-bottom: 1px solid #E2E8F0;
}
.bookings-list {
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.office-dropdown-itemselected {
    flex-direction: column;
}

.bookings-error-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.bookings-error-icon {
    width: 120px;
    height: 120px;
    border-radius: 1000px;
    background: #CCFBF1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookings-error-title {
    font-weight: 600;
    font-size: 22px;
    color: #212121;
}

.bookings-error-desc {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #808080;
}

.backto-rooms {
    display: block;
    background: #0D9488;
    padding: 12px 24px;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    transition: background 0.3s ease;

    &:hover {
        background: #107068;
    }
}

.alert-icon {
    background: #FEE2E2;
}

