.office-area-wrapper {
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-bottom: 1px solid #E2E8F0;
}

.office-selector h2 {
    font-weight: 700;
    font-size: 18px;
    color: #0F172A;
}

.office-address h4 {
    font-weight: 400;
    font-size: 13px;
    color: #475569;
}

.office-address span {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 1000px;
    background: #94A3B8;
}

.office-address {
    display: flex;
    align-items: center;
    gap: 12px;
}

.date-selector {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #E2E8F0;
}

.date-selector-item h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    color: #94A3B8;
}

.date-selector-field {
    width: fit-content;
    padding: 10px 14px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.date-selector-field p {
    font-weight: 400;
    font-size: 14px;
    color: #0F172A;
}

.date-selector-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
}

.available-rooms {
    background: #F8FAFC;
    padding: 40px;
}

.av-rooms-title {
    font-weight: 800;
    font-size: 22px;
    color: #0F172A;
    margin-bottom: 32px;
}


.date-selector-field.pointer {
    cursor: pointer;
    user-select: none;
    justify-content: space-between;
    min-width: 140px;
}

.date-selector-field.active {
    border-color: #94A3B8;
}

.chevron {
    color: #475569;
    font-size: 16px;
    line-height: 1;
    transform: translateY(-2px);
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 8px;
    width: max-content;
    min-width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dropdown-item {
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #0F172A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.2s;
}

.dropdown-item:hover {
    background: #F1F5F9;
}

.dropdown-item.selected {
    background: #CCFAF1;
}

.checkmark {
    color: #059669;
    font-weight: bold;
}

.time-input {
    border: none;
    outline: none;
    font-size: 14px;
    color: #0F172A;
    width: 45px;
    background: transparent;
}
.time-input::placeholder {
    color: #94A3B8;
}