.room-card {
    width: 437.33px;
    padding: 20px;
    background: #fff;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
}

.room-title {
    font-weight: 700;
    font-size: 18px;
    color: #0F172A;
    width: -webkit-fill-available;
}

.room-floor {
    margin-top: 4px;
    font-weight: 400;
    font-size: 13px;
    color: #475569;
    width: -webkit-fill-available;
}
.room-details-prev {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 16px;
}

.details-prev-desc {
    font-weight: 400;
    font-size: 13px;
    color: #475569;
    margin-left: 8px;
}

.room-details-prev-item {
    display: flex;
    align-items: center;
}

.room-availability {
    width: -webkit-fill-available;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.room-availability span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 1000px;
}

.unavailable {
    background: #E2E8F0;
}

.available {
    background: #CCFBF1;
}

.available span {
    background: #0D9488;
}

.unavailable span {
    background: #94A3B8;
}

.room-av-text {
    font-weight: 600;
    font-size: 12px;
}

.available .room-av-text {
    color: #0F766E;
}

.unavailable .room-av-text {
    color: #475569;
}

.room-buttons {
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 12px;
}

.room-buttons p {
    display: block;
    width: 192.67px;
    padding: 10px 57.33px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
}

.goto-room-details {
    color: #0D9488;
    display: block;
    width: 193px;
    text-align: center;
    border-radius: 8px;
    transition: 0.6s ease;
    text-decoration: none;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 14px;
}

.goto-room-details:hover {
    background-color: rgba(13, 148, 136, 0.1)
}

.book-unavailable {
    background: #E2E8F0;
    color: #94A3B8;
}

.book-available {
    background: #0D9488;
    color: #fff;
}